@import "http://fonts.googleapis.com/css?family=Droid+Serif";  /* This Line is to import Google font style */
.content{
width:960px;
margin:20px auto
}
.main{
float:left;
width:650px;
margin-top:10px
}
#progressbar{
margin:0;
padding:0;
font-size:18px
}
#active1{
color:red
}
fieldset{
    display: none;
    width: 1169px;
    padding: 50px;
    margin-top: 3px;
    border-radius: 5px;
    margin-left: -153px;
    box-shadow: 3px 3px 25px 1px gray;
    background-color: #e0dfe3;
}
#first{
    display: block;
    width: 1169px;
    padding: 50px;
    margin-top: 3px;
    border-radius: 5px;
    margin-left: -153px;
    box-shadow: 3px 3px 25px 1px gray;

}

textarea{
width:100%;
margin:10px 0;
height:70px;
padding:5px;
border:3px solid #f7e2f1;
border-radius:4px
}
input[type=submit],input[type=button]{
width:120px;
margin:15px 25px;
padding:5px;
height:40px;
background-color:#1c1b1a;
border:none;
border-radius:-1px;
color:#fff;
font-family:'Droid Serif',serif
}
.submit_btn { text-align: center;}
h2,p{
text-align:center;
font-family:'Droid Serif',serif
}
li{
margin-right:52px;
display:inline;
color:#c1c5cc;
font-family:'Droid Serif',serif
}


/* comment- policy page */

table  {
  border-collapse:collapse; 
  border:1px solid rgba(0, 0, 0, 0.339); 
  white-space: nowrap
}

td {vertical-align: top;}
#sideheader {
  transform: rotateZ(90deg);
  text-align:button;
}
.policyheaders {
  color: #264a9f;
  font-size: 16px;
  background-color: #e1c3c3;
}

.search-container {
				  width: 100px;
				  margin: auto; 
				 }
input {
        display: inline-block;
        width: 140px;
        text-align: right;
        border:3px solid #897a85;
        border-radius: 60px;
      }
.searchbox {height: 40px;}
label { 
		display: inline-block;
        width: 140px;
        text-align: left;
		word-wrap: break-word;
		}

/* location css */

table{ text-align: center; }
.table-container{ 
  overflow: scroll;
  width: 1179px; 
  height: 450px; 
  overflow: auto;
}

table th, table td {
  white-space: nowrap;
  padding: 6px 20px;
  font-family: Arial;
}
table th:nth-child(1), table td:nth-child(1){
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 10;

}
table th:nth-child(2), table td:nth-child(2){
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 10;

}

.lheader { background: #FF4500;}
.btheader { background: #FF6347;}
.siheader { background: #FF7F50;}
.nonCatlimit { background: #FFE4B5;}
.nonCatexcess { background: #EEE8AA;}
.catlimit { background: #FFDAB9;}
.catexcess { background: #F0E68C;}
/* ......add row and delete row styles...... */
.b{  
  padding: 5px 30px;  
  border-radius: 10px;  
}  
.b:active{  
  transform: scale(0.98);  
}  
.b:hover{  
  background-color: black;  
  color: white;  
} 

.policywiseresult{
  background-color: #264a9f1f;
}
.cheader {

  background-color: #191a1bc9;
}