{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, 
						initial-scale=1.0">
	<title>WNS GPUI</title>
  <link rel="stylesheet" href="{% static 'login_register.css' %}">
</head>


<body>
	<header>
		<h1 class="heading">WNS GPUI</h1>
	</header>

	<!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form -->
		<div class="slider"></div>
		<div class="btn">
			<button class="login">Login</button>
			<button class="signup">Signup</button>
		</div>
		
		{% for message in messages %}
		<h3 class="aligncenter" > {{message}}  </h3>
		{% endfor %}
		
		<!-- Form section that contains the
			login and the signup form -->
		<div class="form-section">
			<!-- login form -->
		<form action="" method="post">
			{% csrf_token %}
			<div class="login-box">
				<input type="username"
					class="username ele"
					id = "username"
					name ="username"
					placeholder="Enter username">
				<input type="password"
					class="password ele"
					id ="pass1"
					name ="pass1"
					placeholder="password">
				<button class="clkbtn" name = "btnLogin">Login</button>
			</div>
		</form>
			<!-- signup form -->
		<form action="login_register" method="post">
			
			<div class="signup-box">
				{% csrf_token %}
				<input type="text"
					class="name ele"
					id = "username"
					name ="username"
					placeholder="Enter your name" >
				<input type="email"
					class="email ele"
					id = "email"
					name ="email"
					placeholder="youremail@email.com" >
				<input type="password"
					class="password ele"
					id = "pass1"
					name ="pass1"
					placeholder="password">
				<input type="password"
					class="password ele"
					id = "pass2"
					name ="pass2"
					placeholder="Confirm password" >
				<button class="clkbtn" name="btnSignUp">Signup</button>
			</div>
		</form>
		</div>
	</div>
<!-- <script src="home.js"></script> -->	
</body>
</html>

<script>
let signup = document.querySelector(".signup");
let login = document.querySelector(".login");
let slider = document.querySelector(".slider");
let formSection = document.querySelector(".form-section");

signup.addEventListener("click", () => {
	slider.classList.add("moveslider");
	formSection.classList.add("form-section-move");
});

login.addEventListener("click", () => {
	slider.classList.remove("moveslider");
	formSection.classList.remove("form-section-move");
});
</script>
